.nav {
    width: 920px;
    height: 90px;
 
    border-bottom: solid 3px #FC5000;
    display: flex;
    justify-content: space-between;
 justify-content: center;
    font-weight: bold;
     font-family: arial;
       transform: translate(50%,0);


.links { 
    width:650px ;
    display: flex;
    justify-content: space-between;
 align-items: center;

a {
    text-decoration: none;
    color: #00879E;
}





}
}